<div class="container">
  <div class="upperData">
    <img src="../assets/hot.jpg" height="100%" width="100%" *ngIf="temp > 15">
    <img src="../assets/cold.jpg" height="100%" width="100%" *ngIf="temp <= 15">



     <div class="weatherData">
      <div class="search-area">
        <form >
          <input type="text" name="cityName" placeholder="Enter Location" id="" [(ngModel)]="city"> <br>
          <button type="button" (click)="getWeather()">Show Results</button>
        </form>
      </div>
      <div *ngIf="weatherData">

        <div class="location">{{weatherData.name}}</div>
        <div class="temperature">{{weatherData.main.temp | number: '1.0-0'}}°C</div>
      </div>
     </div>
  </div>
  <div class="lowerData">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="infoblock">
        <div class="info-block-label">
          <img src="../assets/mintemp.png"  alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>
      <div class="infoblock">
        <div class="info-block-label">
          <img src="../assets/maxtemp.png"  alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C

        </div>
      </div>
      <div class="infoblock">
        <div class="info-block-label">
          <img src="../assets/humidity.png"  alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>
      <div class="infoblock">
        <div class="info-block-label">
          <img src="../assets/wind.png"  alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{windSpeed*3.6 | number: '1.0-0'}} Km/hr.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>Made by <br> <a href="https://github.com/krgtm05"><i class="fa fa-github"></i></a>  <br> </p>
  <p><a href="https://github.com/krgtm05" style="text-decoration: none;color: white;">Gautam Kumar</a></p>
</div>


<router-outlet></router-outlet>
